__pycache__/
.venv/
venv/
data/
results/
# Ignore all artifacts by default
# Ignore all artifacts by default
artifacts/**

# Allow lightweight doc visuals
!artifacts/**/backtest.png

# Also allow parent dirs so Git can "see" the file
!artifacts/
!artifacts/**/

